.App {
  margin: 30px auto;
  max-width: 900px;
}

.App .Search-engine {
  border-radius: 10px;
  margin: 0 auto;
}

.App .title {
  color: white;
}

.App footer {
  color: white;
}

.App a {
  color: #bbbbbb;
  text-decoration: none;
}
.App a:hover {
  text-decoration: underline;
  color: white;
}
